*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Ubuntu';

}

.header a:hover {
    color: inherit;
}

.header svg:hover path {
    fill: #01813F;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.content {
    background-image: url(../png/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 74px;
}
.content.dark-mode {
    background-image: none;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 58px;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header-list:hover {
    color: #01813F;
}

.header-item:hover {
    color: #01813F;
}

.header svg {
    margin-right: 24px;
}

.header .akom {
    margin-right: 53px;
    position: relative;
}

.welcome {
    position: relative;
}

.welcome::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    height: 19px;
    width: 1px;
    display: block;
    background: rgba(255, 255, 255, 0.9);
}

.header-list a {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
}

.header-item a {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    text-decoration: none;
}

.form {
    position: relative;
    padding: 31px 60px 38px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    display: inline-block;
    justify-content: center;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.form.dark-mode {
    background: blue;
}

.form::after {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    display: block;
    left: 0;
    top: 29px;
}



.form-list {
    display: flex;
    justify-content: space-around;
}

.btn-wrapper {
    display: flex;
    gap: 4px;
    margin-top: 16px;
    margin-bottom: 41px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
    padding: 16px 22px 17px 17px;
    text-decoration: none;
}

.socialfb {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.socialgoogle {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.blue {
    background-color: #305db8;
}

.blue:hover {
    background-color: #022263;
}

.red {
    background-color: #df4a32;
}

.red:hover {
    background-color: #AB1F09;
}

.span {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
    padding: 0 20px;
    line-height: normal;
    margin-bottom: 16px;
}

.span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #cdd0c5;
}

.form-item1 {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    text-decoration: none;
}


.form-item2 {
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    color: #434343;
}

.form-item2:hover {
    color: #3CB878;
    text-decoration: underline;
}


.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.colum-input {
    width: 100%;
    outline: 0 none;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding: 15px 19px;
}

.colum-input:hover {
    color: #434343;
}

.checkbox {
    font-size: 14px;
    line-height: 14px;
    margin-top: 12px;
}

/* .checkbox:hover{
    color: #3CB878;
} */

.button {
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0;
    margin-top: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #01813F;
}